body {
    font-size: 18px;
    line-height: 1.5;
    grid-template-columns: 160px auto;
}

header, nav, main, footer {
    margin: 1.25rem auto;
    max-width: 760px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header, footer {
    background-color: navy;
    color: #fff;
    text-align: center;  
}

p img {
    float: left;
    margin: 20px;
    border: 5px solid #000;
}
header {
    padding: 1rem;
    border: 10px  #000;
    box-shadow: 5px 5px 5px gray;
}
h2 {
    border-bottom: 10px double;
}
.additional {
    font-size: 15px;
    font-style: italic;
    color: red;
}
ul {
    border-bottom: 10px double;
}

